@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');


#text-container {
    text-align: center;
    line-height: 0.5; 
    display: inline-block;
    overflow:visible;
    color: white;
}



#main-home {

    font-family: 'Anonymous Pro', monospace;
    justify-content: center;
}

.main-text {
    text-align: center;



}
.main-text h1{
    color: blueviolet;
}



.found-me{


    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Montserrat';

}

.found-me a, .found-me i{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.terminal::after {
    content: '_';
    animation: blink 1s infinite;
}

#space{color: black;}

@keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0;}
}
